@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

picture {
    display: contents;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter';
}

.intro {
    background-color: #F5F7FA;
    padding: 161px 144px;
    position: relative;
}

.intro-title {
    color: #4D4D4D;
    font-size: 64px;
    font-weight: 600;
    width: 660px;
}

.intro-title span {
    font-size: 64px;
    font-weight: 600;
    color: #4CAF4F;
    width: 660px;
}

.intro-para {
    color: #717171;
    font-size: 16px;
    margin-top: 16px;
}

.intro-pc {
    position: absolute;
    right: 144px;
    top: 96px;
}

.intro-link {
    margin-top: 32px;
}


.intro-circles {
    position: absolute;
    bottom: 16px;
    right: 50%;
    transform: translateX(50%);
}

.intro-circles button {
    border-radius: 99999999px;
    background-color: #4CAF4F;
    width: 10px;
    height: 10px;
    border: 0;
    opacity: 30%;
    cursor: pointer;
}

.intro-circles .active {
    opacity: 100%;
}

.clients {
    margin-top: 40px;
}

.clients-title {
    font-weight: 600;
    font-size: 36px;
    color: #4D4D4D;
    text-align: center;
}

.clients-text {
    font-size: 16px;
    color: #717171;
    text-align: center;
    margin-top: 8px;
}

.clients-png {
    gap: 136px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding: 25px 0px;
}

.system {
    margin-top: 40px;
}

.system-title {
    font-weight: 600;
    font-size: 36px;
    color: #4D4D4D;
    text-align: center;
}

.system-text {
    color: #717171;
    font-size: 16px;
    text-align: center;
    margin-top: 8px;
}

.system-card {
    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 20%);
    width: 299px;
    border-radius: 8px;
    padding: 24px 32px;
}

.card-title {
    font-weight: 600;
    font-size: 28px;
    color: #4D4D4D;
    text-align: center;
    margin-top: 16px;
}

.card-text {
    color: #717171;
    font-size: 14px;
    text-align: center;
    margin-top: 8px;
}

.card-icon {
    display: block;
    margin: auto;
}

.system-groups {
    display: flex;
    gap: 127.5px;
    justify-content: center;
    margin-top: 16px;
}

.pixel-title {
    font-weight: 600;
    font-size: 36px;
    color: #4D4D4D;  
}

.pixelgrade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49px;
    margin-top: 42px;
}

.pixel-paragraph {
    color: #717171;
    font-size: 14px;
    margin-top: 16px;
}

.pixel-info {
    display:inline-block;
    width: 661px;
}

.pixel-link {
    margin-top: 32px;
}

.graph-title {
    font-size: 36px;
    font-weight: 600;
    color: #4D4D4D;
}

.graph-title span {
    color: #4CAF4F;
}

.graph-info {
    width: 540px;
}

.graph {
    display: flex;
    justify-content: center;
    padding: 64px 144px;
    gap: 72px;
    background-color: #F5F7FA;
    margin-top: 48px;
}
  
.section-item {
    display:flex;
    gap: 16px;
    align-items: center;
    width: 255px;
}

.section-content h3 {
    color: #18191F;
    font-size: 28px;
    font-weight: bold;
}

.section-content p {
    color: #18191F;
    font-size: 16px;
}

.graph-sections {
    display: flex;
    flex-wrap: wrap;
    max-width: 540px;
    justify-content: space-between;
    row-gap: 40px;
}

.design {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    margin-top: 42px;
}

.tesla {
    display: flex;
    background-color: #F5F7FA;
    gap: 78px;
    padding: 32px 0;
    justify-content: center;
    margin-top: 48px;
}

.tesla-paragraph {
    font-size: 16px;
    font-weight: 500;
    color: #717171;
}

.tesla-content {
    width: 748px;
}

.tesla-header {
    color: #4CAF4F;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 16px;
    display: block;
}

.tesla-british {
    color: #89939E;
    font-size: 16px;
    margin-top: 8px;
}

.tesla-logos {
    display: flex;
    gap: 41px;
    align-items: center;
    margin-top: 32px;
    width: 493px;
}

.tesla-logos img {
    width: 48px;
}

.tesla-link {
    display: flex;
    align-items: center;
    color: #4CAF4F;
    font-weight: 600;
    font-size: 20px;
    gap: 8px;
    padding: 8px 0;
    margin-bottom: 4px;
}

.tesla-brands {
    display: flex;
    align-items: end;
    gap: 24px;
}
 

.market-title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #4D4D4D;
    margin-top: 48px;
}

.market-paragraph {
    font-size: 16px;
    margin: auto;
    text-align: center;
    width: 628px;
    color: #717171;
    margin-top: 8px;
}

.market-links {
    background-color: #F5F7FA;
    box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 40%);
    text-align: center;
    z-index: 5;
    width: 317px;
    position: relative;
    margin: -80px auto 0;
    padding: 16px;
    border-radius: 8px;
}

.market-links a {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.market-info {
    width: 368px;
}

.market-blogs {
    justify-content: center;
    display: flex;
    margin-top: 16px;
    gap: 24px;
}

.market-links p {
    font-size: 20px;
    font-weight: 600;
    color: #717171;
}

.market-links a {
    color: #4CAF4F;
    font-weight: 600;
    font-size: 20px;
    gap: 8px;
}

.demo {
    margin-top: 96.5px;
    padding: 32px 0;
    background-color: #F5F7FA;
}

.demo-title {
    color: #263238;
    font-weight: 600;
    font-size: 64px;
    text-align: center;
    width: 887px;
    margin: auto;
}

.demo-link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 32px auto 0;
}

.header {
    position: fixed;
    background-color: #F5F7FA;
    display: flex;
    align-items: center;
    z-index: 20;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 22px 120px 22px 106px;
}

.header-navigation {
    display: flex;
    gap: 50px;
}

.header-navigation .active {
    font-weight: bold;
}

.header-login {
    display: flex;
    align-items: center;
    gap: 14px;
}

.login {
    font-weight: 500;
    font-size: 14;
    color: #4CAF4F;
}

.signup-button {
    padding: 10px 20px;
    font-size: 14px;
}

.footer {
    background-color: #263238;
    display: flex;
    justify-content: center;
    gap: 125px;
    padding: 64px 0px;
}

.footer-text {
    font-size: 14px;
    color: #F5F7FA;
    margin-top: 40px;
}

.footer-text .rights {
    margin-top: 8px;
}

.footer-social {
    margin-top: 40px;
    display: flex;
    gap: 16px;
    align-items: center;   
}

.footer-info {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-info ul {
    margin-top: 24px;
    color: #F5F7FA;
}

.footer-info li {
    margin-top: 12px;
    font-size: 14px;
}

.footer-info li:first-child {
    margin-top: 0px;
}

.footer-company {
    width: 160px;
}

.footer-support {
    width: 160px;
}

.footer-company h2 {
    color: #F5F7FA;
    font-weight: 500;
    font-size: 20px;
}

.footer-support h2 {
    color: #F5F7FA;
    font-weight: 500;
    font-size: 20px;
}

.footer-upd h2 {
    color: #F5F7FA;
    font-weight: 500;
    font-size: 20px;
}

.footer-upd form {
    background-color: rgba(255, 255, 255, 20%);
    border-radius: 8px;
    display: flex;
    padding: 11px;
    justify-content: center;
    gap: 87px;
    margin-top: 24px;
}

.footer-upd form input {
    outline: 0;
    border: 0;
    background: transparent;
    color: #F5F7FA;
    font-size: 14px;
}

.footer-upd form button {
    background: transparent;
    width: 18px;
    height: 18px;
    border: 0;
}   